
*{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    background: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}
.error{
    font-weight: 600;
    color: rgb(161, 13, 13);
    text-align: center;
  }
#navbar{
    position: fixed;
    z-index: 1;
    height: 50px;
    width: 100%;
    background: #003459;
    color: #fff;
}
#navbar #logo h2{
    padding: 10px;
    color: #fff;
}
#navbar #logo h2 a{
    color: #fff;
    text-decoration: none;
}

#user_login{
    width: 40%;
    margin-left: 30%;
    margin-bottom: 100px;
    margin-top: 100px;
    background: #fff;
    padding: 20px;
}
#user_login p{
    text-align: center;
    margin-top: 20px;
}
#user_login p a{
    color: #003459;
    text-decoration: none;
}
#main{
    margin-left: 0px;
    position: relative;
}
#second_navbar{
    height: 45px;
    width: 100%;
    color: #000;
    background: #fff;
    border-bottom: 1px solid rgb(202, 198, 198);
    position: relative;
    top: 50px;
    text-align: center;
}
#second_navbar h3{
    padding: 9px;
    display: inline-block;
}
#second_navbar span{
    color: #003459;
}


input[type=text],input[type=password], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 100%;
    background: #003459;
    color: #fff;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background: #003459;
}
#accounts_div{
    display: none;
}
#footer{
    position: fixed;
    z-index: 1;
    height: 50px;
    width: 100%;
    bottom: 0px;
    background: #003459;
    text-align: center;
}
#footer p{
    margin-top: 15px;
    color: #fff;
}

@media only screen and (max-width: 950px) {
    #user_login{
        width: 70%;
        margin-left: 10%;
    }
    form{
        width: 90%;
        margin-left: 5%;
    }
}
@media only screen and (max-width: 770px) {
    #user_login{
        width: 70%;
        margin-left: 10%;
    }
    form{
        width: 90%;
        margin-left: 5%;
    }
}
@media only screen and (max-width: 700px) {
    #user_login{
        width: 70%;
        margin-left: 10%;
    }
    form{
        width: 90%;
        margin-left: 5%;
    }
}
